<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="algumacoisa.css">
    <title></title>
  </head>
  <body>


    {{ --header-- }}


    {{ PedroController@GeraIndice }}




    <h2>Pessoas Cadastradas</h2>


    <p>Nome: {{ Nome }} </p>
    <p>Idade: {{ Idade }} </p>


    <table>

      <thead>
        <tr>
          <th>Nome</th>
          <th>Idade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Samuel</td>
          <td>22</td>
        </tr>
        <tr>
          <td>Samuel</td>
          <td>22</td>
        </tr>
      </tbody>

    </table>
  </body>
</html>

<script>





</script>
