<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Required jquery -->
    <script src="/files/includes/jquery/v3_3_1.js"></script>
    <script src="/files/includes/pace/pace.js"></script>


    <!-- Required basic js -->
    <script src="/files/app/js/basic.js"></script>
    <script src="/files/app/js/Application.js"></script>

    <!-- Required Bootstrap -->
    <link rel="stylesheet" href="/files/includes/bootstrap/v4_2_1/css/bootstrap.min.css">
    <script src="/files/includes/bootstrap/v4_2_1/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/files/includes/pace/pace.css">

    {{ head }}

</head>


<body>
    {{ body }}

</body>


</html>
